.reload_button {
  position: relative;
  display: none;
  font-size: 25px;
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  transition: 1s;
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  font-family: 'Muli', sans-serif;
  letter-spacing: 1px;
}

.reload_button::after {
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  -webkit-transition: .3s;
  transition: .3s
}

.reload_button:hover::after {
  left: 0;
}

 .reload_button:hover {
   color: #000;
 }

.display {
  display: block;
}